.containerLogin {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerLogin form {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.containerLogin form h1 {
    font-size: 4rem;
    color: var(--corInverno4);
    text-align: center;
}

.containerLogin form input {
    height: 3rem;
    border: 0.2rem solid var(--corInverno3);
    border-radius: 1rem;
    outline: none;
    padding-left: 1rem;
    padding-right: 4rem;
    color: var(--corInverno4);
    background-color: var(--corInverno1);
    font-size: 1.5rem;
}

.containerLogin form .inputEmailLogin,
.containerLogin form .inputPasswordLogin {
    width: 100%;
    position: relative;
} 

.containerLogin form .inputEmailLogin input,
.containerLogin form .inputPasswordLogin input {
    width: 100%;
}

.containerLogin form .inputEmailLogin input::placeholder,
.containerLogin form .inputPasswordLogin input::placeholder {
    color: var(--corInverno4);
}

.containerLogin form .inputEmailLogin img,
.containerLogin form .inputPasswordLogin img {
    width: 2rem;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 1rem;
}

.containerLogin form .containerRememberMeForgotPassword {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    color: var(--corInverno4);
    font-weight: 500;
}

.containerLogin form .containerRememberMeForgotPassword a {
    color: var(--corInverno4);
}

.containerLogin form .containerRememberMeForgotPassword a:hover {
    color: var(--corInverno3);
}

.containerLogin form .containerRememberMeForgotPassword .containerRememberMe {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.containerLogin form .containerRememberMeForgotPassword .containerRememberMe input {
    width: 1.6rem;
    cursor: pointer;
}

.containerLogin form button {
    width: 12rem;
    height: 4rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--corInverno4);
    outline: none;
    color: var(--corInverno1);
    background-color: var(--corInverno3);
    font-weight: bold;
    cursor: pointer;
}

.containerLogin form button:active {
    color: var(--corInverno3);
    background-color: var(--corInverno1);
}

.containerLogin .containerMobileCreateAccount {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    font-weight: 500;
    position: relative;
    top: 8rem;
    color: var(--corInverno4);
}

.containerLogin .containerMobileCreateAccount a {
    color: var(--corInverno4);
    font-weight: bold;
}

.containerLogin .containerMobileCreateAccount a:hover {
    color: var(--corInverno3);
}