:root {
    --branco:#fff;
    --preto:#000;

    --corInverno1:#d3e4f2;
    --corInverno2:#aacde5;
    --corInverno3:#5890bc;
    --corInverno4:#09335c;

    --corVerao1:#febd24;
    --corVerao2:#fd8905;
    --corVerao3:#bb3600;
    --corVerao4:#7f1f00;
}